:root {
    --no-bg-color: #0000;

    --main-border-radius: 3px;
    --main-border-width: 1px;

    --tertiary-svg-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #121212;
        --body-bg-color: #272829;
        --header-bg-color: #1E1E1E;
        
        --hover-bg-color: #252628;
        --active-bg-color: #2B2C2D;

        --main-text-color: #F9F6EF;
        --secondary-text-color: #7D868E;
        --tertiary-text-color: #757575;
        --ref-text-color: #659AD6;

        --input-text-color: #E1E3E6;
        --track-num-text-color: #858585;

        --main-svg-color: #5C8CC3;
        --secondary-svg-color: #7D868E;
        --hover-svg-color: #8A898B;

        --main-border-color: #34393D;

        --main-button-bg-color: #262B30;

        --main-slider-color: #272829;
        --secondary-slider-color: #5C8CC3;

        --static-svg-invert: invert(100%); 
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --main-bg-color: #FFFFFF;
        --body-bg-color: #EDEEF0;
        --header-bg-color: #FFFFFF;
        --hover-bg-color: #F5F6F8;
        --active-bg-color: #F2F3F5;

        --main-text-color: #000000;
        --secondary-text-color: #818C99;
        --tertiary-text-color: #939393;
        --ref-text-color: #2A5885;

        --input-text-color: #000000;
        --track-num-text-color: #828282;

        --main-svg-color: #5181B8;
        --secondary-svg-color: #9bA1AD;
        --hover-svg-color: #828A99;

        --main-border-color: #DCE1E6;

        --main-button-bg-color: #E5EBF1;

        --main-slider-color: #EDEEF0;
        --secondary-slider-color: #5181B8;

        --static-svg-invert: invert(0%); 
    }
}



* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    position: relative;

    height: 100%;
    width: 100%;
}


body {
    background-color: var(--body-bg-color);
}


header {
    position: fixed;
    top: 0px;
    width: 100%;

    z-index: 100;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    z-index: 100;
}


main {
    position: relative;
    padding-top: 48px;
    padding-bottom: 79px;
    width: 100%;
}


button {
    border: none;
    outline: none;
    background-color: var(--no-bg-color);
}

span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.centered {
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.centered-h {
    margin: auto;
}

.main-width {
    min-width: 320px;
    max-width: 690px;
}


.bordered {
    border: var(--main-border-width) solid var(--main-border-color);
    border-radius: var(--main-border-radius);

    outline: none;
}



a {
    text-decoration: none;
}

a.header__item:hover {
    text-decoration: underline;
}

a.hoverable:hover {
    text-decoration: none;
}



.header__content.bordered {
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: auto;
}

.header__content {
    display: block;
    width: 100%;
    height: 28px;
    background-color: var(--header-bg-color);
}

.header__container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 100%;

    padding: 0 2px;
}

.header__refs-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;

    margin-left: 0;
}

.header__item {
    margin-top: auto;
    margin-bottom: auto;
}

.header__ref {
    color: var(--secondary-text-color);
    font-size: 12px;
}

.here-i-am {
    color: var(--main-text-color);
}


.inline {
    display: inline;
}

.block {
    display: block;
}

.left {
    margin-left: 0;
    margin-right: auto;
}

.right {
    margin-left: auto;
    margin-right: 0;
}



.main__space_reservator {
    height: 100%;
}



.signing-form {
    max-width: 423px;
    height: 203px;
}

.signing-form * {
    display: block;
}

.signing-form__label {
    margin-top: 21px;
    font-size: 12px;
}

.signing-form__input {
    margin-top: 7px;
    padding-left: 10px;
    background-color: var(--no-bg-color);
    width: 100%;
}

.signing-form__submit {
    margin: 27px auto;

    border: none;
    background-color: var(--no-bg-color);
}

.signing-form__content {
    margin: auto 26px;
}



.primary-text {
    color: var(--main-text-color);
}

.input-text {
    color: var(--input-text-color);
}

.ref-text {
    color: var(--ref-text-color);
}



.hoverable:hover {
    border-radius: var(--main-border-radius);
    background-color: var(--hover-bg-color);
}



.general-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 14px;
}

.general-container__item {}

.music-search {
    position: relative;
    height: 64px;
}

.music-search__input {
    background-color: var(--no-bg-color);

    width: 100%;

    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-radius: 0;

    padding-left: 10px;
}

.music-search__button>.icon {
    width: 28px;
    height: 28px;

    filter: var(--static-svg-invert);
}

.music-search>.placeholder {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    height: 30px;
    margin: auto 20px;
}

.music-search__button {
    height: 100%;
    width: 46px;

    background-color: var(--main-button-bg-color);

    border: none;
}



.one-line-playlists {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    min-width: 320px;
    padding: 14px 19px 16px;

    gap: 14px;
}

.primary-bgc {
    background-color: var(--main-bg-color);
}

.one-line-playlists__tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.one-line-playlists__tools>.primary-text {
    font-size: 14px;
}

.one-line-playlists__tools>.ref-text {
    font-size: 10px;
}

.one-line-playlists__container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow: hidden;

    flex-wrap: wrap;
    height: 110px;
    gap: 25px;
}

.one-line-playlists__album-cover {
    display: block;
    position: relative;
    height: 110px;
    width: 110px;
}

.button-icon>.icon {
    display: inline;
    position: relative;
    top: 0;

    height: 110px;
    width: 110px;

    border-radius: 5px;
}

.button-icon:hover+.play-button {
    display: block;
}

.play-button {
    display: none;
    position: absolute;
    top: 39px;
    left: 39px;

    border: none;
    outline: none;
    background-color: #0000;

    height: 32px;
    width: 32px;

    filter: invert(100%);

    z-index: 2;
}

.one-line-playlists__album-cover:hover>.button-icon {
    filter: brightness(50%);
}

.play-button:hover {
    display: block;
    filter: invert(75%);
}

.play-button>.icon {
    cursor: pointer;

    height: 32px;
    width: 32px;
}



.footer__content {
    margin: auto;
    height: 59px;

    padding: 8px 14px;
}

.footer__content.bordered {
    border-bottom-width: 0;
}

.player-container {
    width: 100%;
    height: 100%;

    display: flex;
    ;
    flex-direction: row;
    justify-content: space-between;
}

.player__item {
    position: relative;
    height: 100%;
    margin: 0 5px;
}

.player__icon {
    position: relative;
}

.player__icon>.icon {
    width: 28px;
    height: 28px;
}

.player__icon>.icon>* {
    fill: var(--main-svg-color);
}

.player__icon>.icon-play {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translateX(-35%) translateY(-50%);

    width: 9px;
    height: 11px;

    z-index: 2;
}

.player__icon>.icon-pause {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 11px;
    height: 11px;

    display: none;
}



.player__icon:active>.icon-play {
    display: none;
}

.player__icon:active>.icon-play+.icon-pause {
    display: block;
}

.icon-play>*,
.icon-pause>* {
    fill: var(--main-bg-color);
}

.player__next>svg,
.player__prev>svg {
    width: 11px;
    height: 11px;
}

.player__next>svg>*,
.player__prev>svg>* {
    stroke: var(--main-svg-color);
    fill: var(--main-svg-color);
}

.player__item>* {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.player__cover {
    width: 100%;
    border-radius: 2px;
}

.cover-wrap {
    min-width: none;
    max-width: 42px;
}



.player__audio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    top: 0;
    transform: none;
    position: relative;

    width: 100%;
    height: 100%;
}

.audio__item {
    width: 100%;
}

.audio__title {
    display: flex;
    justify-content: start;
    gap: 3px;
    flex-direction: column;

    min-width: 0;
    margin-right: 5px;
}

.song__title {
    font-size: 10px;
    color: var(--main-text-color);
}

.song__performer {
    font-size: 10px;
    color: var(--secondary-text-color);
}

.audio__slider {
    width: 100%;
    height: 4px;
    background-color: var(--main-slider-color);
    border-radius: var(--main-border-radius);
}

.audio__progress {
    height: 100%;
    width: 42%;

    background-color: var(--secondary-slider-color);
    border-radius: var(--main-border-radius);
}

.audio__progress-time {
    font-size: 10px;
    color: var(--secondary-text-color);

    margin: auto 0 0;

    flex-shrink: 0;
}

.slider-wrap {
    min-width: 80px;
    max-width: 365px;

    width: 100%;
}

.audio__title-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    overflow: hidden;
    flex-wrap: nowrap;
}

.title__item {
    height: 100%;
}

.title-wrap__item {
    height: 100%;
}

.player__volume-slider {
    height: 4px;
    width: 40px;
    background-color: var(--main-slider-color);
    border-radius: var(--main-border-radius);
}

.player__volume-set {
    height: 100%;
    width: 42%;
    background-color: var(--secondary-slider-color);
    border-radius: var(--main-border-radius);
}



.player__shuffle>.icon>* {
    fill: var(--secondary-svg-color);
    stroke: var(--secondary-svg-color);
}

.player__repeat>.icon>* {
    fill: none;
    stroke: var(--main-svg-color);
}



.selected-playlist-container {
    min-width: 320px;
    max-width: 500px;

    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}

.playlist__item {
    width: 100%;
}

.playlist__cover {
    height: 150px;
    width: 150px;
}

.playlist__header-container {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 20px;
}

.playlist__header__item {}

.playlist__info-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    height: 100%;
}

.playlist__info__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

.playlist__info__inner-item {}

.playlist__title {
    font-size: 16px;
    color: var(--main-text-color);
}

.playlist__performer {
    font-size: 12px;
    color: var(--secondary-text-color);
}

.playlist__additional-info {
    font-size: 14px;
    color: var(--secondary-text-color);
}

.playlist__toolbar {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 10px;
}

.playlist__toolbar__item {
    height: 100%;
}

.playlist__add-icon {}

.playlist__add-icon>.icon {
    width: 11px;
    height: 11px;
}

.playlist__add-icon>.icon>* {
    fill: none;
    stroke: var(--secondary-svg-color);
    stroke-width: 1.5px;

}

.playlist__add-icon:hover>.icon>* {
    stroke: var(--hover-svg-color);
}

.playlist__add-icon__text {
    font-size: 12px;
    color: var(--secondary-svg-color);
}

.playlist__tracks-container {
    display: flex;
    flex-direction: column;
    justify-items: start;
    gap: 8px;

    max-width: 400px;
}

.playlist__tracks__item {
    height: 24px;
    min-width: 220px;
    width: 100%;


}

.track-container {
    height: 100%;

    border-radius: 3px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: space-between;

    padding: 0 4px;

    position: relative;
}

.track-container:hover {
    background-color: var(--hover-bg-color);
}

.track-container:active {
    background-color: var(--active-bg-color);
}

.track__item {
    position: relative;
    margin: auto 5px;
}

.track__number {
    display: inline;

    font-size: 12px;
    color: var(--track-num-text-color);

    padding-left: 3px;

    text-align: left;
}

.track__number-wrap {
    position: relative;
    width: 24px;
}

.track__number-wrap>* {
    margin: auto;
}

.track__button {
    position: absolute;
    left: 0;
    visibility: hidden;
}

.track__cover+.track__button {
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.track__cover+.track__button>.icon>*{
    fill: var(--tertiary-svg-color);
}

.track-container:hover .track__button {
    visibility: visible;
}

.track-container:hover .track__number {
    visibility: hidden;
}

.track-container:hover .track__cover {
    filter: brightness(50%);
}

.track__buttons-container .track__button>.icon>* {
    fill: var(--secondary-svg-color);
    stroke: var(--secondary-svg-color);
}

.track__buttons-container .track__button:hover>.icon>* {
    fill: var(--hover-svg-color);
    stroke: var(--hover-svg-color);
}

.track__button>.icon {
    height: 15px;
    width: 15px;
}

.track__button>.icon>* {
    stroke: none;
}

.track__buttons-container .track__button>.icon>* {
    stroke-width: 2px;
}

.track__title {
    font-size: 12px;
    color: var(--main-text-color);
    width: 100%;
    font-weight: normal;
}

.track__title-wrap {
    min-width: 40px;
    margin-left: 0;
    width: 100%;
}

.track__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 8px;

    height: 15px;
}

.track__button-wrap {
    position: relative;
    width: 15px;
    height: 100%;
}

.track__duration {
    font-size: 12px;
    color: var(--secondary-text-color);

    position: relative;
    transform: none;
    top: 0;
}

.playlist__stats {
    font-size: 10px;
    color: var(--tertiary-text-color);

    margin-right: 10px;
}

.playlist__stats-wrap {
    text-align: end;
    margin-bottom: 8px;
}



.playlists-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.multi-line-playlists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 25px;

    padding: 14px 19px;
}

.multi-line-playlists__item {}

.cover-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 6px;
}

.album__title {
    font-size: 12px;
    color: var(--main-text-color);
}

.album__performer {
    font-size: 12px;
    color: var(--secondary-text-color);
}

.album__release-date {
    font-size: 12px;
    color: var(--secondary-text-color);
}



.multi-line-tracks {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 7px;

    padding: 9px 16px;
}

.multi-line-tracks__item {
    width: 100%;
    height: 46px;
}

.track__cover {
    width: 40px;
    height: 40px;

    border-radius: 3px;
}

.rot90 {
    transform: rotate(90deg);
}



.found-tracks {
    display: flex;
    flex-direction: column;
    justify-content: start;

    min-width: 320px;
    padding: 14px 19px 16px;

    gap: 14px;
}

.found-tracks-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;

    gap: 21px;
    row-gap: 4px;

    overflow: hidden;

    max-height: 116px;
}

.found-tracks__item {
    height: 36px;
    min-width: 130px;
    max-width: 314px;
    width: 100%;
}

.found-tracks .track__cover {
    width: 30px;
    height: 30px;
}
