:root {
    --no-bg-color: #0000;

    --main-border-radius: 3px;
    --main-border-width: 1px;

    --tertiary-svg-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #121212;
        --body-bg-color: #272829;
        --header-bg-color: #1E1E1E;

        --hover-bg-color: #252628;
        --active-bg-color: #2B2C2D;

        --main-text-color: #F9F6EF;
        --secondary-text-color: #7D868E;
        --tertiary-text-color: #757575;
        --ref-text-color: #659AD6;

        --input-text-color: #E1E3E6;
        --track-num-text-color: #858585;

        --main-svg-color: #5C8CC3;
        --secondary-svg-color: #7D868E;
        --hover-svg-color: #9A999B;

        --main-border-color: #34393D;

        --main-button-bg-color: #262B30;

        --main-slider-color: #272829;
        --secondary-slider-color: #5C8CC3;

        --static-svg-invert: invert(100%);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --main-bg-color: #FFFFFF;
        --body-bg-color: #EDEEF0;
        --header-bg-color: #FFFFFF;
        --hover-bg-color: #F5F6F8;
        --active-bg-color: #F2F3F5;

        --main-text-color: #000000;
        --secondary-text-color: #818C99;
        --tertiary-text-color: #939393;
        --ref-text-color: #2A5885;

        --input-text-color: #000000;
        --track-num-text-color: #828282;

        --main-svg-color: #5181B8;
        --secondary-svg-color: #9bA1AD;
        --hover-svg-color: #828A99;

        --main-border-color: #DCE1E6;

        --main-button-bg-color: #E5EBF1;

        --main-slider-color: #EDEEF0;
        --secondary-slider-color: #5181B8;

        --static-svg-invert: invert(0%);
    }
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    position: relative;

    height: 100%;
    width: 100%;
}


body {
    background-color: var(--body-bg-color);
}


header {
    position: fixed;
    top: 0px;
    width: 100%;

    z-index: 100;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    z-index: 100;
}


main {
    position: relative;
    padding-top: 48px;
    padding-bottom: 79px;
    width: 100%;
}


button {
    border: none;
    background-color: var(--no-bg-color);
}

span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a {
    text-decoration: none;
}

a.header__item:hover {
    text-decoration: underline;
}



.header__content {
    display: block;
    width: 100%;
    height: 28px;
    background-color: var(--header-bg-color);

    border-width: 0 0 var(--main-border-width);
    border-color: var(--main-border-color);
    border-style: solid;
    border-radius: var(--main-border-radius);
}

.header__container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 100%;

    padding: 0 2px;

    margin: auto;

    min-width: 320px;
    max-width: 690px;
}

.header__container>* {
    margin-top: auto;
    margin-bottom: auto;
}

.header__refs-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;

    margin-left: 0;
}

.header__item {
    margin-top: auto;
    margin-bottom: auto;
}

.header__ref {
    color: var(--secondary-text-color);
    font-size: 12px;
}

.ref-text {
    border-radius: 3px;
    padding: 2px;
}

.ref-text:hover {
    background-color: var(--hover-bg-color);
}


.here-i-am {
    color: var(--main-text-color);
}



.signing-form {
    min-width: 320px;
    max-width: 423px;
    height: 203px;

    background-color: var(--main-bg-color);

    margin: 0 auto;

    border: var(--main-border-width) solid var(--main-border-color);
    border-radius: var(--main-border-radius);
}

.signing-form * {
    display: block;
}

.signing-form__label {
    margin-top: 21px;
    font-size: 12px;

    color: var(--main-text-color);
}

.signing-form__input {
    margin-top: 7px;
    padding-left: 10px;
    background-color: var(--no-bg-color);
    width: 100%;

    border: var(--main-border-width) solid var(--main-border-color);
    border-radius: var(--main-border-radius);

    color: var(--input-text-color);
}

.signing-form__submit {
    margin: 27px auto;

    border: none;
    background-color: var(--no-bg-color);
    border-radius: 3px;

    padding: 3px;
}

.signing-form__submit:hover {
    background-color: var(--hover-bg-color);
}

.signing-form__content {
    margin: auto 26px;
}



.primary-text {
    color: var(--main-text-color);
}

.ref-text {
    color: var(--ref-text-color);
}



.general-container {
    display: flex;
    flex-direction: column;
    justify-content: start;

    gap: 14px;

    min-width: 320px;
    max-width: 690px;

    margin: auto;
}

.general-container>* {
    border: var(--main-border-width) solid var(--main-border-color);
    border-radius: var(--main-border-radius);

    background-color: var(--main-bg-color);
}

.music-search {
    height: 64px;
}

.music-search__input {
    background-color: var(--no-bg-color);

    color: var(--input-text-color);

    width: 100%;

    padding-left: 10px;

    border-width: 0 var(--main-border-width) 0 0;
    border-style: solid;
    border-color: var(--main-border-color);
    border-radius: 0;
}

.music-search__button>.icon {
    width: 28px;
    height: 28px;

    filter: var(--static-svg-invert);
}

.music-search>.search-wrap {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    height: 30px;
    margin: 0 20px;

    top: 50%;
    transform: translateY(-50%);

    border: var(--main-border-width) solid var(--main-border-color);
    border-radius: var(--main-border-radius);
}

.music-search__button {
    height: 100%;
    width: 46px;

    background-color: var(--main-button-bg-color);

    border: none;
}



.one-line-playlists {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    min-width: 320px;
    padding: 14px 19px 16px;

    gap: 14px;

    background-color: var(--main-bg-color);

    border: var(--main-border-width) solid var(--main-border-color);
    border-radius: var(--main-border-radius);
}

.one-line-playlists__tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.one-line-playlists__tools>.primary-text {
    font-size: 14px;
}

.one-line-playlists__tools>.ref-text {
    font-size: 10px;
}

.one-line-playlists__container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow: hidden;

    height: 112px;

    flex-wrap: wrap;
    gap: 22px;
}

.one-line-playlists__album-cover {
    display: block;
    position: relative;

    margin: 1px;
}

.button-icon>.icon {
    display: inline;
    position: relative;
    top: 0;

    height: 110px;
    width: 110px;

    border-radius: 5px;
}

.one-line-playlists__album-cover:hover>.button-icon,
.album__cover:hover>.button-icon {
    filter: brightness(50%);
}

.play-pause-button-wrap {
    width: 21px;
    height: 24px;

    position: absolute;
    top: 50%;
    lefT: 50%;
    transform: translate(-50%, -50%);
}

.track__cover-wrap .play-pause-button-wrap {
    width: 10px;
    height: 12px;
}

.play-pause-button {
    visibility: hidden;
    background: transparent;

    margin-left: 2px;

    border-style: solid;
    border-color: #0000 #0000 #0000 #fff;
    border-width: 12px 0px 12px 19px;
}

.track__cover-wrap .play-pause-button {
    border-width: 6px 0 6px 10px;
}

.play-pause-button:hover {
    border-color: transparent transparent transparent var(--hover-svg-color);
}

.play-pause-button:active {
    margin: 0;

    height: 100%;
    width: 100%;    

    border-style: double;
    border-width: 0 0 0 21px;
}

.track-container:active .play-pause-button {
    margin: 0;

    height: 100%;
    width: 100%;    

    border-style: double;

    border-width: 0 0 0 10px;
}

.one-line-playlists__album-cover:hover .play-pause-button,
.track-container:hover .play-pause-button,
.cover-container:hover .play-pause-button {
    visibility: visible;
}


.footer__content {
    margin: auto;
    height: 59px;

    padding: 8px 14px;

    border: var(--main-border-width) solid var(--main-border-color);
    border-radius: var(--main-border-radius);
    border-bottom-width: 0;

    min-width: 320px;
    max-width: 690px;

    background-color: var(--main-bg-color);
}

.player-container {
    width: 100%;
    height: 100%;

    display: flex;
    ;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
}

.player-container>* {
    margin: auto 5px;
}

.player__icon {
    position: relative;
}

.player__icon>.icon {
    width: 28px;
    height: 28px;
}

.player__icon>.icon>* {
    fill: var(--main-svg-color);
}

.player__icon>.icon-play {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translateX(-35%) translateY(-50%);

    width: 9px;
    height: 11px;

    z-index: 2;
}

.player__icon>.icon-pause {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 11px;
    height: 11px;

    display: none;
}



.player__icon:active>.icon-play {
    display: none;
}

.player__icon:active>.icon-play+.icon-pause {
    display: block;
}

.player__icon>.icon-play>*,
.player__icon>.icon-pause>* {
    fill: var(--main-bg-color);
}

.player__next>svg,
.player__prev>svg {
    width: 11px;
    height: 11px;
}

.player__next>svg>*,
.player__prev>svg>* {
    stroke: var(--secondary-svg-color);
    fill: var(--secondary-svg-color);
}

.player__next:hover>svg>*,
.player__prev:hover>svg>* {
    stroke: var(--hover-svg-color);
    fill: var(--hover-svg-color);
}

.player__item>* {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.player__cover {
    width: 100%;
    border-radius: 2px;
}

.cover-wrap {
    min-width: none;
    max-width: 42px;
}



.player__audio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    top: 0;
    transform: none;
    position: relative;

    width: 100%;
    height: 100%;
}

.player__audio-container>* {
    width: 100%;
}

.audio__title {
    display: flex;
    justify-content: start;
    gap: 3px;
    flex-direction: column;

    min-width: 0;
    margin-right: 5px;
}

.audio__title>* {
    height: 100%;
}

.song__title {
    width: fit-content;

    font-size: 10px;
    color: var(--main-text-color);
}

.song__performer {
    width: fit-content;

    font-size: 10px;
    color: var(--secondary-text-color);
}

.audio__slider {
    width: 100%;
    height: 4px;
    background-color: var(--main-slider-color);
    border-radius: var(--main-border-radius);
}

.audio__slider__progress {
    height: 100%;
    width: 42%;

    background-color: var(--secondary-slider-color);
    border-radius: var(--main-border-radius);
}

.audio__progress-time {
    height: fit-content !important;

    font-size: 10px;
    color: var(--secondary-text-color);

    margin: auto 0 0;

    flex-shrink: 0;
}

.slider-wrap {
    min-width: 80px;
    max-width: 365px;

    width: 100%;
}

.audio__title-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    overflow: hidden;
    flex-wrap: nowrap;
}

.audio__title-wrap>* {
    height: 100%;
}

.player__volume-slider {
    height: 4px;
    width: 40px;
    background-color: var(--main-slider-color);
    border-radius: var(--main-border-radius);
}

.player__volume-set {
    height: 100%;
    width: 42%;
    background-color: var(--secondary-slider-color);
    border-radius: var(--main-border-radius);
}



.player__shuffle>.icon>* {
    fill: var(--secondary-svg-color);
    stroke: var(--secondary-svg-color);
}

.player__repeat>.icon>* {
    fill: none;
    stroke: var(--secondary-svg-color);
    stroke-width: 1.5px;
}

.player__shuffle:hover>.icon>* {
    stroke: var(--hover-svg-color);
    fill: var(--hover-svg-color);
}

.player__repeat:hover>.icon>* {
    stroke: var(--hover-svg-color);
}

.player__shuffle:active>.icon>* {
    stroke: var(--main-svg-color);
    fill: var(--main-svg-color);
}

.player__repeat:active>.icon>* {
    stroke: var(--main-svg-color);
}



.selected-playlist-container {
    min-width: 320px;
    max-width: 500px;

    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;

    background-color: var(--main-bg-color);

    border: var(--main-border-width) solid var(--main-border-color);
    border-radius: var(--main-border-radius);

    margin: auto;
}

.selected-playlist-container>* {
    width: 100%;
}

.playlist__cover {
    height: 150px;
    width: 150px;
}

.playlist__header-container {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 20px;
}

.playlist__info-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    margin-top: 0;
    margin-bottom: 0;
}

.playlist__info__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

.playlist__title {
    font-size: 16px;
    color: var(--main-text-color);
}

.playlist__performer {
    font-size: 12px;
    color: var(--secondary-text-color);
}

.playlist__additional-info {
    font-size: 14px;
    color: var(--secondary-text-color);
}

.playlist__toolbar {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 10px;
}

.playlist__toolbar>* {
    height: 100%;
}

.playlist__add-icon>.icon {
    width: 11px;
    height: 11px;
}

.playlist__add-icon>.icon>* {
    fill: none;
    stroke: var(--secondary-svg-color);
    stroke-width: 1.5px;

}

.playlist__add-icon:hover>.icon>* {
    stroke: var(--hover-svg-color);
}

.playlist__add-icon__text {
    font-size: 12px;
    color: var(--secondary-svg-color);
}

.playlist__tracks-container {
    display: flex;
    flex-direction: column;
    justify-items: start;
    gap: 8px;

    max-width: 400px;

    margin: auto;
}

.playlist__tracks-container>* {
    height: 24px;
    min-width: 220px;
    width: 100%;
}

.track-container {
    border-radius: 3px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: space-between;

    padding: 0 4px;

    position: relative;
}

.track-container:hover {
    background-color: var(--hover-bg-color);
}

.track-container:active {
    background-color: var(--active-bg-color);
}

.track-container>* {
    margin: auto 5px;
}

.track__number {
    display: inline;

    font-size: 12px;
    color: var(--track-num-text-color);

    padding-left: 3px;

    text-align: left;
}

.track__number-wrap {
    position: relative;
    width: 24px;
}

.track__number-wrap>* {
    margin: auto;
}

.track__button {
    position: absolute;
    left: 0;
    visibility: hidden;
}

.track__cover-wrap {
    position: relative;
}

.track__cover-wrap .icon-play,
.track__number-wrap .icon {
    transform: rotate(90deg);
}

.track__number-wrap .icon>* {
    fill: var(--main-svg-color);
}

.track-container:hover .track__number {
    visibility: hidden;
}

.track-container:hover .track__cover {
    filter: brightness(50%);
}

.track__buttons-container .track__button>.icon>* {
    fill: var(--secondary-svg-color);
    stroke: var(--secondary-svg-color);
}

.track__buttons-container .track__button:hover>.icon>* {
    fill: var(--hover-svg-color);
    stroke: var(--hover-svg-color);
}

.track__button>.icon {
    height: 15px;
    width: 15px;
}

.track__button>.icon>* {
    stroke: none;
}

.track__buttons-container .track__button>.icon>* {
    stroke-width: 2px;
}

.track__title {
    font-size: 12px;
    color: var(--main-text-color);
    width: 100%;
    font-weight: normal;
}

.track__title-wrap {
    min-width: 40px;
    margin-left: 0;
    width: 100%;
}

.track__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 8px;

    height: 15px;
}

.track__button-wrap {
    position: relative;
    width: 15px;
    height: 100%;
}

.track__duration {
    display: block;

    font-size: 12px;
    color: var(--secondary-text-color);
}

.playlist__stats {
    font-size: 10px;
    color: var(--tertiary-text-color);

    margin-right: 10px;
}

.playlist__stats-wrap {
    text-align: end;
    margin-bottom: 8px;
}



.playlists-container,
.tracks-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.multi-line-playlists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 22px;

    row-gap: 14px;

    align-items: stretch;

    padding: 14px 19px;
}

.cover-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 6px;
}

.album__cover {
    display: block;
    position: relative;

    margin: 1px;
}

.album__title {
    font-size: 12px;
    color: var(--main-text-color);
}

.album__performer {
    font-size: 12px;
    color: var(--secondary-text-color);
}

.album__release-date {
    font-size: 12px;
    color: var(--secondary-text-color);
}



.multi-line-tracks {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 7px;

    padding: 9px 16px;
}

.multi-line-tracks>* {
    width: 100%;
    height: 46px;
}

.track__cover {
    width: 40px;
    height: 40px;

    border-radius: 3px;
}



.found-tracks {
    display: flex;
    flex-direction: column;
    justify-content: start;

    min-width: 320px;
    padding: 14px 19px 16px;

    gap: 14px;
}

.found-tracks-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;

    gap: 21px;
    row-gap: 4px;

    overflow: hidden;

    max-height: 116px;
}

.found-tracks-container>* {
    height: 36px;
    min-width: 130px;
    max-width: 314px;
    width: 100%;
}

.found-tracks .track__cover {
    width: 30px;
    height: 30px;
}