* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}


body {
    height: 100%;
    background-color: #272829;
}


header {
    position: fixed;
    top: 0px;
    width: 100%;

    z-index: 100;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    z-index: 100;
}


main {
    position: absolute;
    top: 48px;
    /* bottom: 66px; */
    bottom: 0px;

    width: 100%;
}


button {
    border: none;
    outline: none;
    background-color: #0000;
}

span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.centered {
    margin: auto;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.centered-h {
    margin: auto;
}

.main-width {
    min-width: 320px;
    max-width: 690px;
}


.bordered {
    box-sizing: border-box;

    border: 1px solid #34393D;
    border-radius: 3px;

    outline: none;
}



a {
    text-decoration: none;
}

a.header__item:hover {
    text-decoration: underline;
}

a.hoverable:hover {
    text-decoration: none;
}



.header__content.bordered {
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: auto;
}

.header__content {
    display: block;
    width: 100%;
    height: 28px;
    background-color: #1e1e1e;
}

.header__container {
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.header__item {
    display: inline;
    color: #7d868e;
    font-size: 12px;

    position: relative; 
    top: 50%;
    transform: translateY(50%);
}



.inline {
    display: inline;
}

.block {
    display: block;
}

.left {
    margin-left: 0;
    margin-right: auto;
}

.right {
    margin-left: auto;
    margin-right: 0;
}



.main__space_reservator {
    height: 100%;
}



.signing-form {
    max-width: 423px;
    height: 203px;
}

.signing-form * {
    display: block;
}

.signing-form__label {
    margin-top: 21px;

    font-size: 12px;
}

.signing-form__input{
    margin-top: 7px;
    padding-left: 10px;
    background-color: #0000;
    width: 100%;
}

.signing-form__submit {
    margin: 27px auto;

    border: none;
    background-color: #0000;
}

.signing-form__content {
    margin: auto 26px;
}



.primary-text {
    color: #F9F6EF;
}

.input-text {
    color: #E1E3E6;
}

.ref-text {
    color: #659AD6;
}



.hoverable:hover {
    border-radius: 3px;
    background-color: #2b2c2e;
}



.general-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 14px;
}

.general-container__item {
    
}

.music-search {
    height: 64px;
}

.music-search__input {
    background-color: #0000;

    width: 100%;

    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-radius: 0;

    padding-left: 10px;
}

.music-search__button > .icon
{
    width: 28px;
    height: 28px;
    
    filter: invert(100%);
}

.music-search > .placeholder {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    height: 30px;
    margin: auto 20px;
}

.music-search__button {
    height: 100%;
    width: 46px;

    background-color: #262B30;

    border: none;
}



.one-line-playlists {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    min-width: 320px;
    padding: 14px 19px 16px;
    height: 172px;

    gap: 14px;
}

.primary-bgc {
    background-color: #121212;
}

.one-line-playlists__tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.one-line-playlists__tools > .primary-text {
    font-size: 14px;
}

.one-line-playlists__tools > .ref-text {
    font-size: 10px;
}

.one-line-playlists__container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow: hidden;

    flex-wrap: wrap;
    height: 110px;
    gap: 25px;
}

.one-line-playlists__album-cover {
    display: block;
    position: relative;
    height: 110px;
    width: 110px;
}

.button-icon > .icon {
    display: inline;
    position: relative;
    top: 0;

    height: 110px;
    width: 110px;

    border-radius: 5px; /* ? */
}

.button-icon:hover + .play-button {
    display: block;
}

.play-button {
    display: none;
    position: absolute;
    top: 39px;
    left: 39px;

    border: none;
    outline: none;
    background-color: #0000;

    height: 32px;
    width: 32px;

    filter: invert(100%);

    z-index: 2;
}

.one-line-playlists__album-cover:hover > .button-icon {
    filter: brightness(50%);
}

.play-button:hover {
    display: block;
    filter: invert(75%);
}

.play-button > .icon {
    cursor: pointer;

    height: 32px;
    width: 32px;
}



.footer__content {
    margin: auto;
    height: 59px;

    padding: 8px 14px;
}

.footer__content.bordered {
    border-bottom-width: 0;
}

.player-container {
    width: 100%;
    height: 100%;

    display: flex;;
    flex-direction: row;
    justify-content: space-between;
}

.player__item {
    position: relative;
    height: 100%;
    margin: 0 5px;
}

.player__icon {
    position: relative;
}

.player__icon > .icon {
    width: 28px;
    height: 28px;
}

.player__icon > .icon-play {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translateX(-35%) translateY(-50%);

    width: 9px;
    height: 11px;

    z-index: 2;
}

.player__icon > .icon-pause {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 11px;
    height: 11px;

    display: none;
}



.player__icon:active > .icon-play {
    display: none;
}

.player__icon:active > .icon-play + .icon-pause{
    display: block;
}

svg > * {
    fill: #5C8CC3;
    stroke: #5C8CC3;
}

.icon-play > *,.icon-pause > * {
    fill: #121212;
}

.player__next > svg, .player__prev > svg {
    width: 11px;
    height: 11px;
}

.player__item > * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.player__cover {
    width: 100%;
    border-radius: 2px;
}

.cover-wrap {
    min-width: none;
    max-width: 42px;
}



.player__audio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    top: 0;
    transform: none;
    position: relative;

    width: 100%;
    height: 100%;
}

.audio__item {
    width: 100%;
}

.audio__title {
    display: flex;
    justify-content: start;
    gap: 6px;
    flex-direction: column;

    min-width: 0;
    margin-right: 5px;
}

.song__title {
    font-size: 10px;
    color: #F9F6EF;
}

.song__performer {
    font-size: 10px;
    color: #7D868E;
}

.audio__slider {
    width: 100%;
    height: 4px;
    background-color: #272829;
}

.audio__progress {
    height: 100%;
    width: 42%;

    background-color: #5C8CC3;
}

.audio__progress-time {
    font-size: 10px;
    color: #7D868E;

    margin: auto 0 0;

    flex-shrink: 0;
}

.slider-wrap {
    min-width: 80px;
    max-width: 365px;

    width: 100%;
}

.audio__title-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    overflow: hidden;
    flex-wrap: nowrap;
}

.title__item {
    height: 100%;
}

.title-wrap__item {
    height: 100%;   
}

.player__volume-slider {
    height: 4px;
    width: 40px;
    background-color: #272829;
}

.player__volume-set {
    height: 100%;
    width: 42%;
    background-color: #5C8CC3;
}



.player__shuffle > .icon > * {
    fill: #7D868E;
    stroke: #7D868E;
}

.player__repeat > .icon > * {
    fill: none;
    color: #5C8CC3;
}



.selected-playlist-container {
    min-width: 320px;
    max-width: 500px;

    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}

.playlist__item {
    width: 100%;
}

.playlist__cover {
    height: 150px;
    width: 150px;
}

.playlist__header-container {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 20px;
}

.playlist__header__item {

}

.playlist__info-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    height: 100%;
}

.playlist__info__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

.playlist__info__inner-item {
    
}

.playlist__title {
    font-size: 14px;
    color: #F9F6EF;
}

.playlist__performer {
    font-size: 10px;
    color: #7D868E;
}

.playlist__additional-info {
    font-size: 12px;
    color: #7D868E;
}

.playlist__toolbar {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 10px;
}

.playlist__toolbar__item {
    height: 100%;
}

.playlist__add-icon {

}

.playlist__add-icon > .icon {
    width: 11px;
    height: 11px;
}

.playlist__add-icon > .icon > * {
    fill: none;
    stroke: #F9F6EF;
    stroke-width: 1px;
}

.playlist__add-icon__text {
    font-size: 12px;
    color: #F9F6EF;
}

.playlist__tracks-container {
    display: flex;
    flex-direction: column;
    justify-items: start;
    gap: 8px;

    max-width: 400px;
}

.playlist__tracks__item {
    height: 20px;

    min-width: 220px;
    width: 100%;

    
}

.playlist__track-container {
    height: 100%;

    border-radius: 3px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: space-between;
    
    padding: 0 4px;

    position: relative;
}

.playlist__track-container:hover {
    background-color: #252628;
}

/* if track is played */
/* .playlist__track-container:active {
    background-color: #2B2C2D;
} */

.track__item {
    position: relative;
    height: 100%;

    margin: 0 5px;

    min-width: 28px;
}

.track__item > * {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.track__number {
    font-size: 10px;
    color: #858585;

    width: 100%;

    text-align: left;
}

.track__number-wrap {
    width: 24px;
}

.track__number-wrap > * {
    margin: auto;
}

.track__button {
    height: 100%;

    visibility: hidden;
}

.playlist__track-container:hover > .track__number-wrap > .track__button {
    visibility: visible;
}

.playlist__track-container:hover > .track__number-wrap > .track__number {
    visibility: hidden;
}

.playlist__track-container:hover .track__button-wrap > .track__button {
    visibility: visible;
}

.track__buttons-container .track__button > .icon > * {
    fill: #767C84;
    stroke: #767C84;
}

.track__buttons-container .track__button:hover > .icon > * {
    fill: #8A898B;
    stroke: #8A898B;
}

.track__button > .icon {
    height: 10px;
    width: 10px;

    stroke-linejoin: round;
}

.track__title {
    font-size: 10px;
    color: #F9F6EF;

    width: 100%;
}

.track__title-wrap {
    min-width: 80;
    max-width: 283px;

    margin-left: 0;

    width: 100%;
}

.track__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 8px;

    height: 10px;
}

.track__button-wrap {
    width: 10px;
    height: 100%;
}

.track__duration {
    font-size: 10px;
    color: #7D868E;
}

.track__dutaion-wrap {
    width: 23px;
}

.playlist__stats {
    font-size: 8px;
    color: #757575;

    margin-right: 10px;
}

.playlist__stats-wrap {
    text-align: end;
    margin-bottom: 8px;
}